MILVUS_STANDALONE_CONTAINER_NAME=rag-db-milvus
MILVUS_ETCD_CONTAINER_NAME=rag-db-milvus-etcd
MILVUS_MINIO_CONTAINER_NAME=rag-db-milvus-minio

MILVUS_VERSION=v2.6.15

MILVUS_PORT=19530
MILVUS_HEALTH_PORT=9091
MILVUS_MINIO_API_PORT=9000
MILVUS_MINIO_CONSOLE_PORT=9001

MILVUS_STORAGE_PATH=./volumes/milvus
MILVUS_ETCD_PATH=./volumes/etcd
MILVUS_MINIO_PATH=./volumes/minio

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_REGION=us-east-1
